/* fonts */
@font-face {
  font-family: "Poppinsbold";
  src: url(../fonts/PoppinsLatin-SemiBold.woff2) format(woff2);
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/PoppinsLatin-Regular.woff2) format(woff2);
}
/* colors */
:root {
  --color_16205F: #16205f;
  --color_FF9900: #ff9900;
  --color_F2CB00: #f2cb00;
  --color_FFF856: #fff856;
  --color_F9F9F9: #f9f9f9;
  --color_FFFFFF: #ffffff;
  --color_FFF855: #fff855;
  --color_E1E1E1: #e1e1e1;
  --color_9F9F9F: #9f9f9f;
  --color_001D84: #001d84;
  --color_C5E0FF: #c5e0ff;
  --color_F8F8F8: #f8f8f8;
  --color_F99600: #f99600;
  --color_8A8A8A: #8a8a8a;
  --color_00000080: #00000080;
}
/* start project */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins";
}
.container {
  margin: 0 auto;
  padding: 0 1.2rem;
}
.mobile_form {
  display: none;
  visibility: hidden;
}
img {
  width: 100%;
  height: 100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  font-family: "Poppins";
}
.hidden {
  display: none !important;
}
/* header */
/* nav */
nav {
  display: flex;
  margin: 1rem;
  align-items: center;
  justify-content: space-between;
}
.hamburger {
  width: 36px;
  height: 36px;
  z-index: 1000;
}
.hamburger__menu {
  margin-top: 5px;
  display: flex;
  width: 27px;
  height: 3px;
  background-color: black;
  transition: all 0.3s ease;
}
.hamburger__lineone--action {
  transform: rotate(-50deg);
  position: absolute;
  top: 40px;
}
.hamburger__linetwo--action {
  transform: translateX(25px);
  opacity: 0;
  position: absolute;
  top: 40px;
}
.hamburger__linethree--action {
  position: absolute;
  transform: rotate(50deg);
  top: 40px;
}
.menu__mobile {
  position: absolute;
  width: 100%;
  height: 550px;
  top: 0;
  left: 0;
  padding: 1.8rem;
  background-color: var(--color_FFFFFF);
  transform: translateX(-100%);
  z-index: 100;
  transition: all 3s ease;
}
.open_menu {
  animation: open-menu 0.5s ease;
}
.close_menu {
  animation: close-menu 0.5s ease;
}
.menu__mobile--box--item {
  margin-bottom: 2rem;
  color: var(--color_16205F);
  font-weight: 400;
  font-size: 1.5rem;
}
.menu__mobile--box--item a {
  color: var(--color_16205F);
}
.menu__mobile--team {
  margin-top: 4.3rem;
}
.menu__desktop {
  display: none;
  visibility: hidden;
}
.team-modal,
.modal-bgc {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 80;
  width: 100%;
  height: 100vh;
}
.team-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal-bgc {
  background: rgba(0, 0, 0, 0.3);
  z-index: -1;
  animation: fade 0.3s ease;
  -webkit-animation: fade 0.3s ease;
  cursor: pointer;
}
.team-modal-content {
  background-color: #ffffff;
  max-width: 580px;
  max-height: 500px;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  padding: 2rem;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.team-modal-content h1 {
  font-weight: 600;
  font-size: 2rem;
  color: var(--color_16205F);
}
.team-modal-content p {
  margin: 1rem 0 3rem 0;
  color: var(--color_16205F);
  font-weight: 400;
  font-size: 1rem;
}
.options {
  display: flex;
  justify-content: space-between;
  max-width: 380px;
  border-radius: 8px;
  overflow: auto;
  box-shadow: 0px 4px 22px 0px #0000001f;
  margin-bottom: 2rem;
}
.option-item {
  padding: 17px 20px;
  width: 190px;
  text-align: center;
  border: none;
  outline: none;
}
.active {
  background-color: var(--color_F99600);
  color: var(--color_FFFFFF);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.regular {
  color: var(--color_8A8A8A);
}
.company-team {
  display: flex;
  width: 100%;
}
.company-team h4 {
  color: var(--color_16205F);
}
.team-input input {
  outline: none;
  padding: 10px;
  border-radius: 8px;
  min-width: 250px;
  width: 100%;
  border: 1px #c5e0ff;
  margin-top: 1rem;
}
.team-input input::placeholder {
  color: var(--color_00000080);
}
/* header content */
.header_content--wrapper {
  background-color: var(--color_FFFFFF);
  padding: 1rem;
  border-radius: 0 2rem 0 0;
  -webkit-border-radius: 0 2rem 0 0;
  -moz-border-radius: 0 2rem 0 0;
  -ms-border-radius: 0 2rem 0 0;
  -o-border-radius: 0 2rem 0 0;
}
.header_content--title {
  margin-top: 2rem;
  font-weight: 600;
  font-size: 36px;
  color: var(--color_16205F);
}
.header_content--text {
  font-size: 20px;
  font-weight: 400;
  color: var(--color_16205F);
  margin: 2rem 0;
}
.header_content--btn {
  font-family: "Poppinsbold";
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: none;
  outline: none;
  width: 100%;
  height: 54px;
  color: var(--color_FFFFFF);
  font-weight: 600;
  font-size: 1rem;
  box-shadow: 0px 4px 22px 0px #0000001f;
  background: linear-gradient(
    to right,
    var(--color_FF9900),
    var(--color_F2CB00)
  );
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.header_content--btn span:last-child {
  margin: 5px 0 0 5px;
}
/* Solutions */
.solutions {
  display: grid;
  gap: 10px;
  margin: 4rem 0;
}
.solutions__extra {
  display: none;
  visibility: hidden;
}
.solutions__desc h3 {
  font-weight: bold;
  font-size: 22px;
  color: var(--color_16205F);
}
.solutions__desc p {
  font-size: 20px;
  color: var(--color_16205F);
}
.solutions__desc p:nth-child(2) {
  font-weight: bold;
  font-size: 36px;
  margin: 1rem 0;
}
.solutions__arch--icon {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}
.solutions__arch--icon img {
  background-color: var(--color_FFF855);
  width: 124px;
  height: 124px;
  border-radius: 10px;
}
.solutions__arch--title {
  font-size: 28px;
  font-weight: bold;
  color: var(--color_16205F);
}
.solutions__arch--title p {
  margin: 2rem 0;
  font-size: 16px;
  font-weight: normal;
}
.solutions__slidebtns {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 4rem 0;
}
.solutions__slidebtns span {
  margin-top: 5px;
  display: flex;
  width: 48px;
  height: 7px;
  background-color: var(--color_E1E1E1);
}
/* easy process*/
.easy_process--wrapper {
  background: linear-gradient(
    to right,
    var(--color_FF9900),
    var(--color_F2CB00)
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0 4rem 0;
}
.easy_process--txt {
  font-weight: 600;
  font-size: 22px;
  color: var(--color_FFFFFF);
  margin-top: 3rem;
}
.easy_process--title {
  font-weight: 600;
  font-size: 36px;
  color: var(--color_FFFFFF);
  margin: 2rem 0 1rem 0;
}
.easy_prcess--text {
  font-weight: 400;
  font-size: 1rem;
  color: var(--color_16205F);
  max-width: 250px;
  text-align: center;
}
.easy_process--items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  gap: 5rem;
  margin-top: 5rem;
  width: 100%;
}
.easy_process--item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.easy_process--item_img {
  width: 120px;
  height: 120px;
}
.easy_process--item_img img {
  object-fit: contain;
}
.easy_process--item__detail {
  text-align: center;
  display: flex;
  align-items: center;
}
.easy_process--item__detail span:first-child {
  font-weight: 600;
  font-size: 46px;
  color: var(--color_16205F);
  margin-right: 1rem;
}
.easy_process--item__detail span:last-child {
  font-weight: 600;
  font-size: 28px;
  color: var(--color_16205F);
}
/* specialized */
.specialized {
  background-color: var(--color_F9F9F9);
  padding: 2rem 0rem;
  font-weight: bold;
}
.specialized__head--title {
  font-size: 22px;
  color: var(--color_001D84);
  margin-bottom: 1rem;
}
.specialized__head--desc {
  font-size: 36px;
  color: var(--color_001D84);
}
.specialized__main__slidershow--item {
  display: flex;
  align-items: center;
  gap: 25px;
  background-color: var(--color_FFFFFF);
  border-radius: 8px;
  margin: 1.5rem 1.5rem 0;
  padding: 1rem;
  border-left: 16px solid var(--color_FFF856);
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.06);
  font-size: 18px;
  color: var(--color_001D84);
}
.specialized__main__slidershow--item:nth-child(odd) {
  display: none;
}
.specialized__main__slidershow--item--img img {
  width: 40px;
  height: 40px;
}
.specialized_slidebtns {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 5rem 0;
}
.specialized_slidebtns span {
  margin-top: 5px;
  display: flex;
  width: 48px;
  height: 7px;
  background-color: var(--color_E1E1E1);
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
/* expertise */
.expertise {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 2rem 0;
}
.expertise_content--txt {
  font-weight: 600;
  font-size: 22px;
  color: var(--color_16205F);
}
.expertise_content--title {
  font-weight: 600;
  font-size: 36px;
  color: var(--color_16205F);
  margin: 1.8rem 0;
}
.expertise_content--text {
  font-weight: 400;
  font-size: 20px;
  color: var(--color_16205F);
  max-width: 375px;
}
.expertise_box {
  text-align: center;
  overflow-x: hidden;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4.5rem;
  justify-content: center;
}
.expertise__slider {
  overflow-x: hidden;
  max-width: 100%;
}
.expertise_box--wrapper {
  display: flex;
  transition: all 0.5s ease-in-out;
}
.expertise_box--img {
  width: 107px;
  height: 107px;
  background-color: var(--color_FFF856);
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  padding: 0.4rem;
}
.expertise_box--detail__title {
  font-size: 28px;
  font-weight: 600;
  color: var(--color_16205F);
  margin-bottom: 1.3rem;
}
.expertise_box--detail__text {
  font-weight: 400;
  font-size: 18px;
  color: var(--color_16205F);
  max-width: 350px;
}
.expertise_slidebtns {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 5rem 0;
}
.expertise_slidebtns button {
  border: none;
  margin-top: 5px;
  display: flex;
  width: 48px;
  height: 7px;
  background-color: var(--color_E1E1E1);
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.expertise_slidebtns button:hover {
  background-color: var(--color_9F9F9F);
}

/* technologies & clients*/
.technologies,
.clients {
  margin: 4rem 0;
}
.technologies__head,
.clients__head {
  display: grid;
  justify-content: center;
  gap: 20px;
  margin: 1rem 0;
  font-size: 16px;
  color: var(--color_16205F);
  font-weight: bold;
}
.technologies__head h3,
.clients__head h3 {
  text-align: center;
}
.technologies__head p,
.clients__head p {
  font-size: 26px;
}
.clients__head p {
  text-align: center;
}
.technologies__slidershow,
.clients__slidershow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem;
}
.technologies__slidershow--img img,
.clients__slidershow--img img {
  object-fit: contain;
  width: 220px;
  height: 70px;
}
.technologies__img--extra,
.clients__img--extra {
  display: none;
  visibility: hidden;
}
/* connect box */
.connect_main_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 1350px;
}
.connect_main_box--img {
  width: 100%;
  max-height: 565px;
}
.connect_main_box--form {
  background-color: var(--color_FFFFFF);
  max-width: 375px;
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: translateY(-28%);
  -webkit-transform: translateY(-28%);
  -moz-transform: translateY(-28%);
  -ms-transform: translateY(-28%);
  -o-transform: translateY(-28%);
}
.connect_form_box {
  max-width: 310px;
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
.connect_form_box h2 {
  color: var(--color_16205F);
  font-weight: 600;
  font-size: 36px;
}
.connect_form--item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.connect_form--item label {
  color: var(--color_16205F);
  font-size: 1rem;
  font-weight: 600;
}
.connect_form--item input,
.connect_form--item textarea {
  font-family: "poppins";
  outline: none;
  border-radius: 8px;
  border: 1px solid var(--color_C5E0FF);
  background-color: transparent;
  padding: 10px 0 10px 8px;
  height: 60px;
  width: 100%;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.connect_form--item textarea {
  height: 93px;
}
.connect_form--checkbox input {
  width: 18px;
  height: 18px;
  margin-top: 3px;
}
.checkbox__desc {
  font-size: 1rem;
  color: var(--color_16205F);
  font-weight: 400;
}
.checkbox__desc p:last-child {
  font-weight: 600;
}
.connect_form_box button {
  background: linear-gradient(90deg, #ed7901 0%, #fcb81f 50%);
  box-shadow: 0px 4px 22px 0px #0000001f;
  border: none;
  outline: none;
  width: 100%;
  height: 54px;
  border-radius: 8px;
  color: var(--color_FFFFFF);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 1rem;
  gap: 0.5rem;
}
.connect_form_box button span:last-child {
  margin-top: 2px;
}
/* footer */
footer.container {
  margin-top: 2rem;
  padding: 1.5rem 1.5rem 0 1.5rem;
  border-top: 2px solid #c4c4c4;
}

footer .logo img {
  width: 195px;
  height: 83px;
}
.information {
  font-size: 18px;
  color: var(--color_16205F);
  margin-bottom: 0;
}
.information__title {
  margin: 2rem 0;
}
.information__contact {
  display: grid;
  gap: 20px;
}
.information__contact--item {
  display: flex;
  align-items: center;
  gap: 40px;
}
.quickaccess {
  display: grid;
}
.followus__desktop {
  display: none;
  visibility: hidden;
}
.quickaccess h3,
.followus {
  font-size: 22px;
  font-weight: bold;
  color: var(--color_16205F);
}
.quickaccess__box,
.copyright {
  display: grid;
  gap: 20px;
  margin: 2rem 0 2rem;
  font-size: 18px;
  color: var(--color_16205F);
}
.quickaccess__box a {
  color: var(--color_16205F);
}
.followus__icons {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  margin: 2rem 0 4rem;
  cursor: pointer;
}
@keyframes fade {
  form {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes open-menu {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes close-menu {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}
/* responsive */
@media screen and (min-width: 578px) {
  .header_content {
    display: flex;
    flex-direction: column-reverse;
    gap: 4rem;
  }
  .expertise_content--text {
    max-width: 100%;
  }
  /* connect box */
  .connect_main_box {
    min-height: 1500px;
  }
  .connect_main_box--form {
    transform: translateY(-20%);
    -webkit-transform: translateY(-20%);
    -moz-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    -o-transform: translateY(-20%);
  }
}
@media screen and (min-width: 768px) {
  .header_content {
    display: flex;
    flex-direction: column-reverse;
    gap: 4rem;
  }
  /* solutions */
  .solutions__arch:first-child {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    margin-top: 1rem;
  }
  .solutions__arch--title {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
  }
  .solutions__arch--title p {
    margin: 0.5rem 0;
    max-width: 100%;
  }
  .solutions__slidebtns {
    margin: 1rem 0;
  }
  /* easy process */
  .easy_prcess--text {
    max-width: 100%;
  }
  /* expertise_box */
  .expertise_box {
    text-align: left;
    flex-direction: row;
    gap: 1.3rem;
    margin-top: 3.5rem;
  }
  /* specialized */
  .specialized__main__slidershow {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .specialized_slidebtns span:last-child {
    display: none;
    visibility: hidden;
  }
  .connect_main_box {
    padding: 0 2rem;
  }
  .connect_main_box {
    min-height: 1550px;
  }
  .connect_main_box--form {
    max-width: 500px;
    width: 100%;
    transform: translateY(-6%);
    -webkit-transform: translateY(-6%);
    -moz-transform: translateY(-6%);
    -ms-transform: translateY(-6%);
    -o-transform: translateY(-6%);
  }
  .connect_form_box {
    max-width: 435px;
    width: 100%;
  }
  /* footer */
  .main__quickaccess {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: baseline;
  }
  .quickaccess {
    margin: 1rem 0;
  }
}
@media screen and (min-width: 992px) {
  /* nav */
  nav {
    border-bottom: 1px solid #e1e1e1;
    margin: 0;
    margin-bottom: 1rem;
    padding: 0.5rem 2rem;
  }
  .mobile__form {
    display: none;
    visibility: hidden;
  }
  .menu__desktop {
    display: flex;
    visibility: visible;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .menu__desktop__list {
    display: flex;
    gap: 40px;
    color: var(--color_16205F);
  }
  .menu__desktop__list a {
    color: var(--color_16205F);
  }
  .menu__desktop__list--item {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .menu__desktop__contact--team {
    width: 150px;
    height: 30px;
    border: none;
    outline: none;
    border: 2px solid var(--color_16205F);
    color: var(--color_16205F);
    border-radius: 8px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
  .menu__desktop__contact--team svg {
    color: var(--color_16205F);
    width: 12px;
    margin-top: 5px;
  }
  .menu__desktop__contact {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .menu__desktop__contact--team {
    font-size: 14px;
    font-weight: 600;
  }
  .menu__desktop__contact--contactus {
    display: none;
    visibility: hidden;
  }
  .menu__desktop__contact--contactus a {
    color: var(--color_16205F);
  }
  /* header */
  .header_content {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
  }
  .header_content--wrapper {
    width: 49%;
    position: absolute;
    left: 2%;
    top: 8%;
    height: 438px;
  }
  .header_content--image {
    flex-basis: 60%;
    height: 540px;
  }
  .header_content--title {
    font-size: 40px;
  }
  .header_content--text {
    font-size: 1rem;
  }
  .header_content--btn {
    width: 30%;
    font-size: 0.8rem;
  }
  /* solutions */
  .solutions {
    display: flex;
    min-width: 100%;
    gap: 40px;
    padding: 4rem 2rem;
    align-items: baseline;
  }
  .solutions__desc,
  .solutions__slidebtns {
    display: none;
    visibility: hidden;
  }
  .solutions__arch {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
    gap: 20px;
    margin-top: 1rem;
  }
  .solutions__arch--title h4 {
    font-size: 1rem;
  }
  .solutions__arch--title p {
    font-size: 0.8rem;
  }
  .solutions__extra {
    display: flex;
    visibility: visible;
  }

  .solutions__arch--icon {
    margin: 0;
  }
  .solutions__arch--icon img {
    width: 80px;
    height: 80px;
  }

  /* expertise */

  .expertise_content--title {
    max-width: 60%;
  }
  .expertise_content--text {
    max-width: 57%;
  }
  .expertise_box--wrapper {
    display: grid;
    grid-template-columns: repeat(2, auto);
    width: 100%;
    gap: 3rem;
    justify-content: space-around;
  }
  .expertise_box {
    flex-direction: column;
    align-items: flex-start;
  }
  .expertise_box--img {
    width: 70px;
    height: 70px;
  }
  .expertise_slidebtns {
    display: none;
  }
  .expertise_box--wrapper .expertise_box:nth-child(2),
  .expertise_box--wrapper .expertise_box:nth-child(3),
  .expertise_box--wrapper .expertise_box:nth-child(4) {
    display: flex;
  }

  /* specialized */
  .specialized {
    max-width: 100%;
    margin: 0;
  }
  .specialized__main {
    padding: 2rem 0 4rem;
  }
  .specialized__main__slidershow--item:nth-child(odd) {
    display: flex;
  }
  .specialized_slidebtns {
    display: none;
    visibility: hidden;
  }
  .specialized__head.container {
    margin: 0;
    margin-top: 2rem;
  }
  .specialized__main__slidershow {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
  /* technologies && clients */
  .technologies {
    min-width: 100%;
  }
  .clients {
    background-color: var(--color_F8F8F8);
    padding: 2rem 1rem;
    min-width: 100%;
  }
  .technologies__slidershow,
  .clients__slidershow {
    margin: 4rem 1rem;
  }

  .technologies__slidershow svg,
  .clients__slidershow svg {
    display: none;
    visibility: hidden;
  }
  .technologies__img--extra,
  .clients__img--extra {
    display: flex;
    visibility: visible;
  }
  /* form */
  .connect_main_box {
    min-height: 1700px;
  }
  .connect_main_box--form {
    transform: translateY(12%);
    -webkit-transform: translateY(12%);
    -moz-transform: translateY(12%);
    -ms-transform: translateY(12%);
    -o-transform: translateY(12%);
  }
}
@media screen and (min-width: 1120px) {
  .container {
    padding: 1.5rem;
  }
  .menu__desktop__contact--contactus {
    display: flex;
    visibility: visible;
  }
  .expertise.container {
    width: 100%;
  }
  .expertise_content {
    width: 100%;
  }
  .expertise_content--text {
    max-width: 100%;
  }
  .expertise_box--detail h4 {
    font-size: 18px;
  }
  .expertise_box--detail p {
    font-size: 14px;
  }
  .expertise_box--wrapper {
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;
  }
  .clients {
    margin: 0;
  }
  .connect_main_box {
    flex-direction: row;
    justify-content: space-between;
    min-height: 1000px;
  }
  .connect_main_box--img {
    flex-basis: 51%;
  }
  .connect_main_box--form {
    flex-basis: 47%;
    max-width: 650px;
  }
  .connect_form_box {
    padding: 2.5rem 1.5rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 478px;
  }
  .connect_form--item input {
    min-width: 200px;
    width: 100%;
  }
  .connect_form--area {
    min-width: 100%;
  }
  .connect_form--item textarea {
    width: 100%;
  }
  .connect_form--checkbox {
    flex-direction: row;
  }
  .connect_form--item.connect_form--checkbox input {
    min-width: 18px;
    max-width: 18px;
    width: 100%;
    margin-top: 0;
  }
  .checkbox__desc p:first-child {
    font-size: 12px;
  }
  .connect_form_box button {
    width: 50%;
    font-size: 14px;
  }
  .connect_form_box button span:last-child {
    margin-top: 4px;
  }
  .main__quickaccess {
    display: flex;
    margin-left: 2rem;
    justify-content: space-between;
  }
  .followus__mobile {
    display: none;
    visibility: hidden;
  }
  .followus__desktop {
    display: grid;
    visibility: visible;
    margin-top: 2rem;
  }
  .footer {
    margin: 0 0;
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }
}
